@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

html {
    background-color: black;
    color: white;
    font-family: montserrat;
}

a { 
    text-decoration: none;
    color: inherit;
}

.button { 
    border: 2px solid white;
    padding: 1rem;
    gap: 5rem;
}

.button-section { 
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

p {
    margin-bottom: 2.5rem;
}
