@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

html {
    background-color: black;
    color: white;
    font-family: montserrat;
}

a { 
    text-decoration: none;
    color: inherit;
}

.button { 
    border: 2px solid white;
    padding: 1rem;
    gap: 5rem;
}

.button-section { 
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

p {
    margin-bottom: 2.5rem;
}

.upper-text {
    position: absolute; 
    top: 2.5rem; 
    right: 2.5rem; 
    text-align: right;
}

.lower-text {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    bottom: 5rem; 
    left: 5rem;
}

.all-content {
    border: 10px solid white
}

@media screen and (max-width: 1024px){
    .upper-text { 
        top: 20vh
    }

    .lower-text {
        bottom: 20vh

    }

    .hl {
        border-top: 10px solid white;
        width: 100vw;
    }
}